.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
}
.header__logo img {
  margin-right: 15px;
}
.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;    
  font-weight: 800;
}
.header__logo p {
  color: #7b7b7b;
}
.header__cart {
  display: block;
}
.header__cart.active {
  display: none;
}

.button--cart {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;
}
.button--cart img {
  margin-right: 8px;
  margin-bottom: 1px;
}
.button--cart span {
  font-weight: 600;
  font-size: 16px;
  gap: 3px;
}
